<div class="row p-4">
    <div class="col-12 col-sm-3  my-4    ">
        <div class="card bg-primary text-white shadow" onclick="window.location='/view-books'">
            <div class="card-body">
                Total Books
                <div class="text-white-50 small">{{count}}</div>
            </div>
        </div>
    </div>
</div>
<div class="row p-4">

    <div class="col-12 col-sm-3  my-4    ">
        <div class="card bg-success text-white shadow" onclick="window.location='/add-membs'">
            <div class="card-body">
                ADD Member
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3  my-4    ">
        <div class="card bg-info text-white shadow" onclick="window.location='/add-book'">
            <div class="card-body">
                Add Book
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3  my-4    ">
        <div class="card bg-warning text-white shadow" onclick="window.location='/view-books'">
            <div class="card-body">
                View Books
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3  my-4    ">
        <div class="card bg-danger text-white shadow" onclick="window.location='/view-membs'">
            <div class="card-body">
               View Members
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3  my-4    ">
        <div class="card bg-secondary text-white shadow" onclick="window.location='/rend'"> 
            <div class="card-body">
                View Rended Books Record
            </div>
        </div>
    </div>

</div>
