<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/add-membs" method="POST"  role="form" >
                {{!-- <legend>Add Book</legend> --}}
                <h1 class="h3 mb-0 text-gray-800 pb-3" >Add Members <i class="fas fa-fw fa-user"></i></h1>
                <div class="row">
                {{!-- <div class="form-group col-12 col-sm-6 col-md-4">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                </div>

                <div class="form-group col-12 col-sm-6 col-md-4">
                    <label for="nop">Recommented by</label>
                    <input type="text" class="form-control" name="rb" id="rb" placeholder="Recommented by">
                </div>    

                <div class="form-group col-12 col-sm-6 col-md-4">
                    <label for="doa">Date of Admission</label>
                    <input type="text" class="form-control" name="doa" id="doa" placeholder="Date of Admission">
                </div>   

                <div class="form-group col-12 col-sm-6 col-md-4">
                    <label for="age">Age</label>
                    <input type="text" class="form-control" name="age" id="age" placeholder="Age">
                </div>

                <div class="form-group col-12 col-sm-6 col-md-4">
                    <label for="mb">Mobile</label>
                    <input type="text" class="form-control" name="mb" id="mb" placeholder="Mobile">
                </div>                

                <div class="form-group col-12 col-sm-6 col-md-4">
                    <label for="gn">Gender</label>
                    <input type="text" class="form-control" name="gn" id="gn" placeholder="Gender">
                </div>     --}}

                <div class="mx-auto col-12">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPassword" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Recommented by</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPassword" placeholder="Recommented by">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Date of Admission</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPassword" placeholder="Date of Admission">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Age</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPassword" placeholder="Age">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Gender</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPassword" placeholder="Gender">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Mobile</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPassword" placeholder="Mobile">
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-3 mb-2">
                            <input type="text" class="form-control" id="inputPassword" placeholder="House Name">
                        </div>
                        <div class="col-sm-3 mb-2">
                            <input type="text" class="form-control" id="inputPassword" placeholder="Post Office">
                        </div>
                        <div class="col-sm-3 mb-2">
                            <input type="text" class="form-control" id="inputPassword" placeholder="Pincode">
                        </div>                          
                    </div>
                </div>
            </div>    
                {{!-- <div class="row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Address</label>                                                
                        <div class="col">
                        <input type="text" class="form-control" placeholder="House Name">
                        </div>
                        <div class="col">
                        <input type="text" class="form-control" placeholder="Post">
                        </div>
                        <div class="col">
                        <input type="text" class="form-control" placeholder="pin">
                        </div>                        
                    </div>
                     <div class="form-group col-12 col-md-6">
                        <label for="po">Post</label>
                        <input type="text" class="form-control" name="po" id="po" placeholder="Post">
                    </div>

                    <div class="form-group col-12 col-md-6">
                        <label for="pin">Pincode</label>
                        <input type="text" class="form-control" name="pin" id="pin" placeholder="Pincode">
                    </div>                      
                </div> --}}

                


                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-danger">Reset &nbsp;</button>

            </form>
        </div>
    </div>
</div>
    <style>
        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        .inputfile + label {
            width: 100%;
            font-size: 1rem;
            font-weight: 700;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
            padding: 0.625rem 1.25rem;
        }
        .inputfile + label svg {
            width: 1em;
            height: 1em;
            vertical-align: middle;
            fill: #6e707e;
            margin-top: -0.25em;
            margin-right: 0.25em;
        }
        .inputfile + label {
            color: #6e707e;
            border: 1px solid #d1d3e2;
        }        
    </style>
    <script>
        'use strict';;
        (function (document, window, index) {
            var inputs = document.querySelectorAll('.inputfile');
            Array.prototype.forEach.call(inputs, function (input) {
                var label = input.nextElementSibling,
                    labelVal = label.innerHTML;

                input.addEventListener('change', function (e) {
                    var fileName = '';
                    if (this.files && this.files.length > 1) 
                        fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files.length);
                    else 
                        fileName = e.target.value.split('\\').pop();
                    

                    if (fileName) 
                        label.querySelector('span').innerHTML = fileName;
                    else 
                        label.innerHTML = labelVal;
                    
                });

                // Firefox bug fix
                input.addEventListener('focus', function () {
                    input.classList.add('has-focus');
                });
                input.addEventListener('blur', function () {
                    input.classList.remove('has-focus');
                });
            });
        }(document, window, 0));

</script>