<section class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Sl.No</th>
                <th>Book Id</th>
                <th>Book Name</th>
                <th>Author</th>
                <th>Gener</th>
                <th>Member Id</th>
                <th>Member Name</th>
                <th>Date</th>                
            </tr>
        </thead>
        <tbody>
            {{#each rend}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.bk_id}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>            
            {{/each}}
        </tbody>
    </table>
</section>